@model Product

<div class="container">
    <h2>Add New Product</h2>
    <form asp-action="AddProduct" asp-controller="Product" method="post">

        <div class="form-group">
            <label for="productId">Id:</label>
            <input type="text" class="form-control" id="productName" placeholder="Enter Id:" asp-for="Id" required>
        </div>
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" id="productName"  placeholder="Enter product name" asp-for="Name" required>
        </div>
        <div class="form-group">
            <label for="productPrice">Price:</label>
            <input type="text" class="form-control" id="productPrice" placeholder="Enter product price" asp-for="Price" required>
        </div>
        <div class="form-group">
            <label for="productDescription">Description:</label>
            <textarea class="form-control" id="productDescription" placeholder="Enter product description" asp-for="Description" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
